annotated-types==0.6.0
anyio==3.7.1
boto3==1.28.66
botocore==1.31.66
click==8.1.7
colorama==0.4.6
fastapi==0.104.0
h11==0.14.0
idna==3.4
isort==5.12.0
jmespath==1.0.1
psutil==5.9.6
pydantic==2.4.2
pydantic_core==2.10.1
python-dateutil==2.8.2
python-dotenv==1.0.0
s3transfer==0.7.0
six==1.16.0
sniffio==1.3.0
starlette==0.27.0
taskipy==1.12.0
tomli==2.0.1
typing_extensions==4.8.0
urllib3==2.0.7
uvicorn==0.23.2
